.page {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-size: 15px;
    line-height: 25px;
    color: var(--color-white-light);
    background-color: var(--color-black);

    &__main {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 24px;
    }

    &__footer {
        padding: 16px 24px;
        text-align: center;
        background-color: var(--color-blue);
    }
}
